/* *모든태그  */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  height: 100px;
  background-color: #ff9e80;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__logo i {
  color: white;
}

.navbar__menu {
  display: flex;
  font-size: 20px;
  padding: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #ffc1e3;
  border-radius: 5px;
}

.nav__icon {
  display: flex;
}

.nav__icon i {
  display: flex;
  color: white;
  padding: 12px 12px;
  font-size: 30px;
  margin: 0;
  width: 44px;
  height: 44px;
}

.nav__icon i:hover {
  color: #100808;
}

.nav__icon a {
  text-decoration: none;
}

.header_text {
  margin: 0;
  margin-bottom: 30px;
}

.header_button {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__container {
  width: 100%;
  height: 700px;
  background-color: #ff9e80;
}

.header_pofile {
  display: flex;
  justify-content: center;
}

.header_pofile img {
  margin-top: 70px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 4px solid white;
}

.header_text {
  margin-top: 30px;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}

/* 검색 */

/* 네비바 left  */

.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid bisque;
}

.navContainer ul {
  margin: 0;
  padding: 30px;
  list-style: none;
}

.navContainer li {
  margin: 3px;
  border: 2px solid bisque;
  border-radius: 50px;
  display: inline-block;
  font-size: 1px;
  padding: 10px;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navContainer li a {
  text-decoration: none;
  list-style: none;
  color: gray;
}

/* 슬라이더 */

.slide_btn_box {
  display: flex;
  justify-content: center;
  top: 10px;
}

.slide_btn {
  border: 3px solid white;
  border-radius: 50px;
  color: gray;
  list-style: none;
  outline: 0;
}

/* 슬라이드 동작  */

.handler_left {
  margin-top: 10px;
  margin-left: 80px;
}

.handler_right {
  margin-top: 10px;
  margin-left: 300px;
}

.handler_left button :hover {
  color: black;
  border-radius: 30%;
  cursor: pointer;
}

.handler_right button :hover {
  color: black;
  border-radius: 30%;
  cursor: pointer;
}

.container {
  position: relative;
  display: inline-block;
  list-style: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  top: 40px;
}

.view {
  display: flex;
  position: relative;
  top: 0px;
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.view .container {
  display: flex;
  padding: 0px;
  list-style: none;
}

.panel {
  width: 400px;
  min-height: 400px;
}

footer {
  text-align: center;
  font-size: 5px;
  height: 30px;
}

.footer_menu {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 30px;
}

.footer_menu img {
  width: 30px;
  vertical-align: middle;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.copyright {
  margin-top: 40px;
  font-size: 5px;
  color: gray;
  text-align: center;
  font: "San Francisco", Helvetica, Arial, san-serif;
}